@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.catalog-product__list {
  @include reset-list-style();
}

.catalog-product__item {
  border-top: 1px solid $middle-gray-color;
  padding: 0 0 24px 0;
}

.catalog-product__item:last-child {
  border-bottom: 1px solid $middle-gray-color;
}

.catalog-product__item-wrapper {
  width: 280px;
  margin: auto;
  height: 100%;
}

.catalog-product__title {
  @include font-special(400);
  @include font-size(16px, 20px);
}

.catalog-offer__property-wrapper {
  display: flex;
}

.catalog-product__property-name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.catalog-product__property-value {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.catalog-product__title--image {
  text-align: center;
  margin: 27px 0 0 0;
  padding: 0 20px 0 20px;
}

.catalog-product__add-product-text {
  text-align: center;
  margin: 0;
  padding: 11px 20px 22px 20px;
}

.catalog-product__add-button {
  background-color: $basic-gray-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 12px 0;
  min-width: 280px;
  color: $special-dark-grey-color;
  text-transform: uppercase;

  @include font-size(16px, 18px);
  @include font-special(400);
}
