@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.about-product-working {
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    border-bottom: 1px solid $middle-gray-color;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    border-bottom: none;
  }
}

.about-product-working__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 0 10px 0;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.about-product-working__title {
  padding: 0 0 35px 0;
  margin: 34px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 54px 0 0 0;
    padding: 0 0 23px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 77px 0 0 0;
    padding: 0;
  }
}

.about-product-working__list {
  @include reset-list-style();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 40px;
    box-sizing: border-box;
  }
}

.about-product-working__item {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0 0 37px 0;
    min-height: 280px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin: 24px 0 0 0;
    padding: 0;
    flex-basis: 230px;
    max-width: 244px;
    flex-grow: 1;
  }
}

.about-product-working__description {
  padding: 6px 0 6px 20px;

  @media (min-width: $tablet-width) {
    padding: 6px 20px 6px 0;
    max-width: 249px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
