@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.catalog-offer {
  background-color: $basic-gray-color;
  padding: 0 20px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 63px 55px;
    margin: 0 0 30px 0;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin: 0;
    flex-basis: 560px;
    max-width: 1070px;
    flex-grow: 1;
    min-height: 374px;
  }
}

.catalog-offer__title {
  padding: 40px 0 19px 0;

  @media (min-width: $tablet-width) {
    padding: 81px 0 0 0;
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 74px 0;
  }
}

.catalog-offer__text {
  padding: 0 0 24px 0;
  margin: 0 0 21px 0;
  border-bottom: 1px solid $bright-gray-color;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 24px);
    border-bottom: none;
    margin: 0 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 13px 0;
  }
}

.catalog-offer__link {
  color: $black-color;
  text-transform: uppercase;

  @include font-special(400);
  @include font-size(16px, 16px);

  @media (min-width: $tablet-width) {
    @include font-size(20px, 30px);
  }
}
