@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.page-main {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
}

.page-main__title {
  color: $white-color;
  background-color: transparent;

  @include font-special(400);
  @include font-size(36px, 36px);
  text-align: center;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  width: 320px;
  position: absolute;
  right: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: $black-color;
    width: 440px;
    padding: 0 0 0 26px;
    margin: 55px auto 33px 112px;
    position: static;
    text-align: left;

    @include font-size(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    z-index: 2;
    padding: 0;
    margin: 0 0 350px 190px;
  }
}
