$black-color: #000000;
$white-color: #ffffff;
$green-color: #68b738;
$basic-gray-color: #f2f2f2;
$gray-color: #cdcdcd;
$special-dark-grey-color: #444444;
$light-gray-color: #eaeaea;
$bright-gray-color: #d9d9d9;
$middle-gray-color: #e6e6e6;
$middle-light-gray-color: #e7e7e7;
