@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.social__list {
  list-style: none;

  @include indent-zero();
  display: flex;
}

.social__link {
  margin-left: 37px;
  text-decoration: none;
  color: $black-color;
}
