@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.social__list {
  @include reset-list-style();
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 125px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 20px;
  }
}

.social__item {
  width: min-content;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 20px;
  }
}

.social__link {
  color: $special-dark-grey-color;

  &:hover {
    color: $green-color;
  }

  &:active {
    color: $green-color;
    opacity: 0.4;
  }
}

.social__link-logo {
  @media (min-width: $tablet-width) {
    width: 35px;
    height: 35px;
  }
}
