@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.social__list {
  @include reset-list-style();
  display: flex;
}

.social__link {
  margin-left: 37px;
  color: $black-color;
}
