@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.main-nav {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 35px 0 0 0;
  }
}

.main-nav__list {
  @include reset-list-style();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 439px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}

.main-nav__item {
  @include font-special(500);
  @include font-size(20px, 20px);
  padding: 35px 0 25px 0;
  position: relative;

  &:first-child a {
    border-top: 1px solid $middle-gray-color;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--active::after {
      content: "";
      position: absolute;
      background-color: $green-color;
      height: 2px;
      width: 100%;
      margin-top: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    &--active-index-desktop::after {
      background-color: $white-color;
    }
  }

  &--active .main-nav__link {
    cursor: unset;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.main-nav__link {
  color: $black-color;
  position: absolute;
  cursor: pointer;

  @include position-zero();
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $middle-gray-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-special(400);
    @include font-size(18px, 24px);
    position: static;
    border: none;
  }

  @media (min-width: $desktop-width) {
    @include font-size(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    &--text-color {
      color: $white-color;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  right: 25px;
  outline: none;
  top: -34px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black-color;
    width: 1.5px;
    height: 24.8px;
    top: -11px;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  right: 21px;
  outline: none;
  top: -42px;
  width: 35px;
  height: 20px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 2px;
    background-color: $black-color;
    box-shadow: 0 8px 0 0 $black-color, 0 16px 0 0 $black-color;
    transform: rotate(0deg);
  }

  &::before {
    content: "";
    transform: rotate(0deg);
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
