@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.main-nav {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 35px 0 0 0;
  }
}

.main-nav__list {
  @include reset-list-style();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 439px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}

.main-nav__item {
  @include font-special(500);
  @include font-size(20px, 20px);
  padding: 35px 0 25px 0;
  position: relative;

  &:first-child a {
    border-top: 1px solid $middle-gray-color;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  a {
    color: $black-color;
    position: absolute;

    @include position-zero();
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $middle-gray-color;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      @include font-special(400);
      @include font-size(18px, 24px);
      position: static;
      border: none;
    }

    @media (min-width: $desktop-width) {
      color: $white-color;

      @include font-size(20px, 30px);
    }
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  left: 88%;
  outline: none;
  top: -20%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black-color;
    width: 1.5px;
    height: 24.8px;
    top: -11px;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
