@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    z-index: 2;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: flex;
  height: 66px;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  position: absolute;
  height: fit-content;
  left: 30px;
  width: 33px;
  top: 12px;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    margin: 24px 0 0 0;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 90px 0 0 0;
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text {
  height: fit-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
