@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.additions {
  border-top: 2px solid $green-color;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 0;
  margin: 30px 0 21px 0;
}

.additions__title {
  position: relative;
  bottom: 3px;
}

.additions__list {
  @include reset-list-style();

  width: 280px;
  margin: 31px auto 0 auto;
}

.additions__item {
  margin: 0 0 13px 0;
}

.additions__input-description {
  display: flex;
  align-items: center;
  width: max-content;
}

.additions__input-description::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/check-box.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 17px;
}

.additions__input:checked ~ .additions__input-description::after {
  content: "";
  position: absolute;
  left: 35px;
  width: 18px;
  height: 14px;
  background-image: url("../img/mark-checked.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
