@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.data-contacts {
  border-top: 2px solid $green-color;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 0;
  margin: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 75px 0 0 0;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px 0 70px;
    margin: 0;
  }
}

.data-contacts__title {
  position: relative;
  top: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 42px;
    width: max-content;
    top: -5px;
  }
}

.data-contacts__list {
  @include reset-list-style();

  min-width: 280px;
  margin: 35px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 75px 40px 70px 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 40px;
    margin: 75px 40px 70px 40px;
  }
}

.data-contacts__item {
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-grow: 1;
    min-width: 561px;
  }
}

.data-contacts__input-description {
  margin: 0 15px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 17px 0 0;
  }
}

.data-contacts__input {
  margin: 0;
}
