@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.button {
  background-color: $green-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 12px 0;
  color: $white-color;
  text-transform: uppercase;

  @include font-size(14px, 18px);
  @include font-special(400);

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font-size(20px, 20px);
  }
}
