@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.form-title {
  @include font-special(400);
  @include font-size(24px, 26px);

  color: $black-color;
  padding-left: 20px;
  padding-right: 22px;
  width: min-content;
}
