@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.invent {
  padding: 0 0 7px 0;
  display: flex;
}

.invent__text {
  @include font-special(400);
  @include font-size(16px, 18px);

  width: 132px;
  margin: 0;
}

.invent__address {
  width: 149px;
  margin: 0;
}
