@import "./source/sass/variables.scss";
@import "./source/sass/mixin.scss";

.page {
  @include font-size(14px, 18px);

  color: $black-color;
}

.page__body {
  background-color: $white-color;
  width: 320px;
}
