.page {
  @include font-size(14px, 18px);

  box-sizing: border-box;
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  color: $black-color;
  margin: 0;
  padding: 0;
}

.page__body {
  background-color: $white-color;
  min-width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: max-content min-content min-content;
  }
}
